.HomePage-container {
  background-size: cover;
  background-color: var(--darkGreen);
}

.HomePage-quote {
  margin: 4vh;
  opacity: 60%;
  display: flex;
  background-position-x: 13em;
  justify-content: flex-end;
  position: absolute;
  top: 25vh;
  left: 6vw;
  width: 50vw;
}

.HomePage-quoteBox {
  display: flex;
  flex-direction: row;
  height: 60vh;
  padding-bottom: 3vh;
}

.HomePage-quoteImg {
  opacity: 80%;
  position: absolute;
  z-index: -10;
  height: 60vh;
  right: 6vw;
  top: 10vh;
}

.HomePage-titleBox {
  display: flex;
  justify-content: center;
}

.HomePage-title {
  font-weight: 500;
  font-size: 30px;

  border-style: solid;
  border-bottom: thick line #ff0000;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 10px 0px 10px 0px;
  background-color: #cdc8ff;

  padding-left: 1vh;
  padding-right: 1vh;
  padding-top: 1vh;
}

.HomePage-subtitle {
  font-weight: 300;
  font-size: 20px;

  border-style: solid;
  border-bottom-width: thin;
  border-top: none;
  border-left: none;
  border-right: none;

  padding-top: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.HomePage-leftInits,
.HomePage-rightInits {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 45vw;
}

.HomePage-contentTextBox {
  height: 30vh;
  width: 30vw;
}

.HomePage-contentText {
  font-weight: 300;
  font-size: 18px;
}

.HomePage-aboutusText {
  font-weight: 400;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: black;
}
img {
  margin-top: 1vh;
}
